{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}


{% block body %}
<main>
    <!--
    <section class="container my-4">
        <h1 class="text-center mb-4 section-heading border-bottom pb-2">About-Us</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an 
            unknown printer took a gallery of type and scrumbled it to make a type  specium book.
            It has survived not only five centuries,but also the leap into electronic typesetting,
            remaining essentially unchanged.It was popularised in the 1960's with the realese of
            Letraset sheets containing Lorem Ipsum passeges,and more recently with desktop publishing 
            software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p><a href="{% url 'pagedetail' 1 %}" class="btn-btn--info text-red">Read More</a></p>

    </section>
-->
<section class="container my-4">
    <h1 class="text-center mb-4 section-heading border-bottom pb-2">{{page.title}}</h1>
</section>
</main>

{% endblock body %}


{% block js %}
{% endblock js %}

